# misc
.idea
.vscode

# build
out
dist

# tests
coverage
*-test
*-test/**/*

# package manager
pnpm-lock.yaml
package.json

# configs
.eslintrc.json
.lintstagedrc.yaml
.prettierignore
.prettierrc.toml

# typescript
tsconfig.json
tsconfig.*.json

# license
LICENSE.md
